body {
    font-family: "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;   
}

.header, .footer {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    width: 
}

.logo-and-nav {
    display: flex;
    padding: 1% 3% 0 3%;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

a, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.awesome-website-container {
    display: flex;
    align-content: center;
}

.awesome-website-container-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
}

button {
    margin: 3% 0 3% 10%;
    width: 15%;
}

.hero-main-text-image {
    background: #FAFAFA;
    height: 70%;
    width: 800%;
    color: #FAFAFA;
    margin: 0 0 0 500%;
}

.inspiring-quote-container {
    background: #E5E7EB;
}

.footer {
    justify-content: center;
    color: #F9FAF8;
}