body {
    font-family: "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;   
}

.header, .footer {
    display: flex;
    flex-direction: column;
    
    background: #1F2937;
}

.logo-and-nav {
    display: flex;
    justify-content: space-between;
    
}

.header-logo {
    margin: 1% 0 0 10%;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.nav {
    width: 550px;
    margin: 0 7% 0 0;
}

a, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 3%;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.awesome-website-container {
    display: flex;
    align-items: center;
    padding: 7% 11% 7% 11%;
}

.awesome-website-container-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
}

.hero-main-text-image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    background: #9A9A9A;
    height: 175px;
    width: 400px;;
    color: #FAFAFA;
    margin: 0 0 0 11%;
}

button {
    height: 3vh;
    width: 11vw;
}

.random-information-container {
    padding: 7% 17% 7% 17%;
}

.random-information-heading {
    margin: 0 0 7% 0;
    padding: 0;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.random-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 11vh;
    width: 70vw;
}

.some-image {
    background: #FAFAFA;
    margin: 11% 0 0 0;
    border: #1F2937;
    border-style: solid;
    border-radius: 7px;
    height: 100px;
    width: 117px;
}

.inspiring-quote-container {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    padding: 7% 17% 7% 17%;
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
}

.call-to-action-container {
    display: flex;
    justify-content: space-around;
    background: #3B82F6;
    margin: 7% 5% 7% 5%;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}

.call-to-action {
    font-weight: bolder;
}

.sign-up-now-text {
}

.footer {
    align-items: center;
    color: #F9FAF8;
}