body {
    font-family: "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;   
}


.header, .footer {
    display: flex;
    flex-direction: column;   
    background: #1F2937;
}

.logo-and-nav {
    display: flex;
    justify-content: space-evenly;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 147px;
    min-width: 147px;
    margin: 0 80px 0 100px;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.nav {
    display: flex;
    width: 600px;
}

ul {
    width: 500px;
    min-width: 500px;
}

a, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 3%;
}

.awesome-website-container {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 7% 11% 7% 11%;
}

.awesome-website-container-left {
    height: 300px;
    min-height: 300px;
    width: 342px;
    min-width: 342px;
}

.hero-main-text {
    text-align: left;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    margin: 0 0 17px 0;
}

.hero-main-text-image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9A9A9A;
    height: 200px;
    width: 500px;
    color: #FAFAFA;
    margin: 0 0 0 200px;
}

button {
    height: 23px;
    width: 87px;
}

.random-information-container {
    margin: auto;
    height: 350px;
    min-height: 350px;
    width: 700px;
    min-width: 700px;
}

.random-information-heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.random-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.some-image {
    background: #FAFAFA;
    margin: 11% 0 0 0;
    border: #1F2937;
    border-style: solid;
    border-radius: 7px;
    height: 100px;
    width: 117px;
}

.inspiring-quote-container {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    padding: 7% 17% 7% 17%;
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
}

.quote {
    margin: auto;
    width: 700px;
}

.thor {
    text-align: right;
}

.call-to-action-container {
    display: flex;
    justify-content: space-around;
    background: #3B82F6;
    margin: 7% 5% 7% 5%;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}

.call-to-action {
    font-weight: bolder;
}

.sign-up-now-text {
}

.footer {
    align-items: center;
    color: #F9FAF8;
}